<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Physio-App</title>
    <link rel="stylesheet" href="./createdstyle.css">
</head>
<body>
    {{!-- first section --}}
    <div class="bg-cover bg-fixed w-screen h-screen main">
        <div class="w-screen h-40 flex flex-row justify-center">
            <img src="./2.svg" alt="logo" class="w-52 h-52">
        </div>
        <div class="w-screen h-80">
            <div class="w-screen h-10 flex flex-row gap-x-16 justify-center items-center">
                {{!-- five links --}}
                <a href="" class="text-white text-lg hover:text-[#5D8CB9]">Overview</a>
                <a href="" class="text-white text-lg hover:text-[#5D8CB9]">Report</a>
                <a href="/signin" class="text-white text-lg hover:text-[#5D8CB9]">Sign in</a>
                <a href="/signup" class="text-white text-lg hover:text-[#5D8CB9]">Sign up</a>
            </div>
            <div class="w-screen h-24 flex flex-row justify-center items-center">
                <h1 class="text-white text-6xl tracking-widest">THE PHYSIO HEALTH CENTER</h1>
            </div>
            <div class="w-screen h-48 flex flex-row justify-center items-center">
                <div class="w-2/6 h-44 border-t-2 flex flex-col gap-y-20 items-center">
                    <h2 class="text-white text-2xl mt-3">Your Cape Town Physiotherapist</h2>
                    {{!-- make appiontment button --}}
                    <button class="bg-[#5D8CB9] w-52 h-12 rounded-md text-white text-sm hover:bg-transparent hover:border-[#5D8CB9] hover:border-2 hover:text-[#5D8CB9]">MAKE AN APPOINTMENT</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- second section --}}
    <div class="w-screen h-screen">
        <div class="h-2/6 w-screen flex flex-row justify-center items-end">
        <h1 class="text-6xl">life is better when aligned...</h1>
        </div>
        <div class="h-4/6 w-screen flex flex-row justify-center">
        <p class="text-4xl text-center w-5/6 mt-10">"Through gentle and non-invasive techniques, physio care can alleviate your pain and improve your overall function, getting you back to a lifetime of health and wellness"  <span class="text-blue-400 text-sm">Dr Jackie</span></p>
        </div>
    </div>
</body>
<style>
    .main{
        background-image: url(./tablemountain.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

</html>
