<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Physio-App</title>
    <link rel="stylesheet" href="./createdstyle.css" />
</head>
<body>
<div class="bg-yellow-400 w-screen h-screen flex flex-row">
    <div class="bg-red-400 w-1/2 h-screen flex flex-row justify-center items-center">
    <div class="bg-white w-4/6 h-4/6">

    </div>
    </div>


    <div class="bg-green-500 w-1/2 h-screen flex flex-row justify-center items-center">
      <div class="bg-white w-5/6 h-5/6 flex flex-col">
          <h1 class="text-center text-3xl">ARM ACROSS BODY</h1>
          <img src="./armacrossbody.jpg" alt="Arm Across Body" class="w-4/6 h-1/2 border-2 border-black">
      </div>
    </div>
</div>
</body>
</html>
