<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Physio-App</title>
    <link rel="stylesheet" href="./createdstyle.css">
</head>

<body>
    <div class="w-screen h-screen flex flex-row">
        <div class="w-1/2 h-screen flex flex-row justify-center items-center">
        <div class="bg-white w-4/6 h-3/6 flex flex-col items-center">
            {{#if messages.error}}
            <p class="error text-center text-red-600">{{messages.error}}</p>
            {{/if}}
            {{#if messages.success}}
            <p class="success text-center text-green-600">{{messages.success}}</p>
            {{/if}}
            <form action="/signin" method="post">
            <h1 class="text-3xl text-center">Welcome Back</h1>
            <div class="flex flex-col w-full gap-x-6 mt-10 ">
                <label for="username" class="">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" class="appearance-none block w-6/6 bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" required>
                <label for="code" class="">Your Unique Code</label>
                <input type="text" name="code" id="code" placeholder="Code" class="appearance-none block w-6/6 bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" required>
            </div>
                {{!-- button --}}
                <button type="submit" class="bg-[#5D8CB9] w-20 h-10 rounded-md text-white text-sm hover:bg-transparent hover:border-[#5D8CB9] hover:border-2 hover:text-[#5D8CB9]" id="submit">Login</button>
            </form>
        </div>
        </div>
        <div class="w-1/2 h-screen main">
        </div>
    </div>

</body>
<style>
    .main {
        background-image: url(./pic2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
</html>
